.root {
    padding: 3px 5px;
    line-height: 30px;
}

.root .field {
    display: inline-block;
}

.root .field .label {
    display: inline-block;
    width: 170px;
    text-align: right;
}

.root .field .label::after {
    content: '：';
}
