.item {
    margin: 3px;
    padding: 10px 20px;
    user-select: none;
}

.source {
    background-color: bisque;
    cursor: move;
}

.target {
    background-color: darkorchid;
}

.dragging {
    opacity: 0.8;
    cursor: pointer;
}