.root {
    position: relative;
    margin: 10px;
    min-height: 100px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.root .header {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
}

.root .header .title {
    flex: 1;
    text-indent: 8px;
    line-height: 34px;
    user-select: none;
    font-size: 14px;
}

.root .header .toolbar {
    padding: 5px;
    border-left: 1px solid #cfcfcf;
}

.root .header .toolbar>* {
    margin: 0 3px;
}

.root .header .toolbar>select {
    outline: none;
    height: 23px;
}