.root {
    display: flex;
}

.root .item {
    margin: 3px;
    padding: 10px 20px;
}

.root .source {
    margin-right: 10px;
    background-color: cyan;
}

.root .target {
    background-color: darkgoldenrod;
}

.root .target .item {
    background-color: darkorchid;
}