:global(html), :global(body), :global(#root) {
    margin: 0;
    padding: 0;
    height: 100%;
}

.root {
    position: relative;
    padding: 5px;
    height: calc(100% - 5px * 2);
}

.root .board {
    height: 100%;
}

.root .moduler {
    position: relative;
    height: 100%;
}