.root {
    display: flex;
    margin: 5px;
}

.root .left, .root .right {
    flex: 1;
}

.root .right {
    text-align: right;
}

.root .left>*, .root .right>* {
    margin: 2px 5px;
}